<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.min.edu.stadium">
	<select id="selectStadiumAll" resultType="StadiumVo">
		SELECT STADIUM_ID,STADIUM_NAME ,HOMETEAM_ID ,SEAT_COUNT ,ADDRESS ,DDD ,TEL
		FROM STADIUM s
	</select>
</mapper>
